
h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    display: flex;
}

p a {
    color: white;
    font-weight: large;
}

body {
    min-height: calc(100vh - 160px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),
    url("../images/testimonialsbckg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

